@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body,
html {
  @apply bg-slate-900 text-white;
}

ol {
  @apply list-decimal list-inside;
}

ul {
  @apply list-disc list-inside;
}

ol, ul {
  @apply mb-4 pl-4;
}

@keyframes letterGlow {
  0%,
  100% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }
}

.glow-letter {
  opacity: 0.1;
  display: inline-block;
  animation: letterGlow calc(var(--animation-duration) * 1s) ease-in-out infinite;
  animation-delay: var(--animation-delay);
}

.glow-container {
  display: inline-block;
}
